[flake8]
max-line-length = 120

ignore = S301, S403,
    WPS237,
    WPS305, WPS306,
    WPS410, WPS412,
    WPS602,
    D100, D101, D102, D103, D104, D105, D107,

per-file-ignores =
   recipe_parser/proxy.py: WPS115,
   recipe_parser/const.py: WPS326,
   recipe_parser/parsing/recipe.py: WPS226,
   recipe_parser/parsing/utils.py: WPS100,

format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
